@font-face {
  font-family: 'Georgia';
  src:
      /* local('Georgia Regular'), local('Georgia-Regular'), */
      /* url('../../../public/assets/Georgia.woff2') format('woff2'), */
      /* url('../../../public/assets/Georgia.woff') format('woff'), */
      url('../../../public/assets/Georgia.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src:
      /* local('Georgia Italic'), local('Georgia-Italic'), */
      /* url('../../../public/assets/Georgia Italic.woff2') format('woff2'), */
      /* url('../../../public/assets/Georgia Italic.woff') format('woff'), */
      url('../../../public/assets/Georgia Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}